﻿@{
    ViewBag.Title = "Register";
}
<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="RegisterAdmin">Admin</a>
    <a class="navbar-brand" asp-area="" asp-controller="Teacher" asp-action="RegisterTeacher">Teacher</a>
    <a class="navbar-brand" asp-area="" asp-controller="Parent" asp-action="RegisterParent">Parent</a>
</div>
