﻿@{
    ViewBag.Title = "Register";
}
<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="RegisterAdmin">Админ</a>
    <a class="navbar-brand" asp-area="" asp-controller="Teacher" asp-action="RegisterTeacher">Учител</a>
    <a class="navbar-brand" asp-area="" asp-controller="Parent" asp-action="RegisterParent">Родител</a>
</div>
