@model List<ShowExamModel>

@{
    ViewData["Title"] = "Всички изпити";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="text-center row">
    @foreach (var exam in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <p class="mb-0">Предмет: @exam.Discimpline</p>
                <p class="mb-0">Дата: @exam.Date</p>
            </div>
        </div>
    }
</div>