@model List<AddStudentModel>

@{
    ViewData["Title"] = "My Children";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="text-center row">
    @foreach (var parent in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <p class="mb-0">Първо име: @parent.FirstName</p>
                <p class="mb-0">Фамилия: @parent.LastName</p>
                <p class="mb-0">Дата на раждане: @parent.Birthday</p>
            </div>
        </div>
    }
</div>